<h3><%= @user.name %>'s shop</h3>

<table class="table text-center table-dark table-striped table-hover">
    
    <th>Name</th>
    <th>Picture</th>
    <th>Price</th>
    <th>Stock</th>
    <th>Edit</th>
    <th>Delete</th>

    <% @user.items.each do |item| %>
        <tr>
            <td><%= item.name %></td>
            <% if(item.picture.attached?) %>
                <td><%= image_tag item.picture.variant(:thumb100) %></td>
            <% else %>
                <td>N/A</td>
            <% end %>
            <td><%= item.price %></td>
            <td><%= item.stock %></td>
            <td><%= link_to 'Edit', '/items/' + item.id.to_s + '/edit?from_user_item=true' , class:"btn btn-warning"%></td>
            <td><%= button_to "DELETE", main_user_item_del_path, params:{ id: item.id}, class:"btn btn-danger"%></td>
        </tr>
    <%end%>

    
    
</table>
<br>
<%= link_to 'New Item', '/items/new?from_user_item=true', class:"btn btn-success"%></td>
